Задание 1 Определите, какому фильму было выставлено больше всего оценок 5.0

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('movies.csv',on_bad_lines='skip')

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
movies=pd.read_csv('movies.csv')
movies[['movieId','title']].head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
ratings=pd.read_csv('ratings.csv')
ratings=ratings[['movieId','rating']]

In [ ]:
joined = ratings.merge(movies, on='movieId', how='left')
joined[['movieId','rating','title']].head()

   movieId  rating                        title
0        1     4.0             Toy Story (1995)
1        3     4.0      Grumpier Old Men (1995)
2        6     4.0                  Heat (1995)
3       47     5.0  Seven (a.k.a. Se7en) (1995)
4       50     5.0   Usual Suspects, The (1995)

In [ ]:
max_=ratings['rating'].max()
filtered_joined=joined[(joined ['rating']==max_)]
fr=filtered_joined.groupby(['movieId' , 'title'])['movieId'].count()

In [ ]:
fr.sort_values(ascending=False).head()

movieId  title
318      Shawshank Redemption, The (1994)             153
296      Pulp Fiction (1994)                          123
356      Forrest Gump (1994)                          116
2571     Matrix, The (1999)                           109
260      Star Wars: Episode IV - A New Hope (1977)    104
Name: movieId, dtype: int64

Задание 2 По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('power.csv',on_bad_lines='skip')

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [ ]:
import pandas as pd

power = pd.read_csv('power.csv')
filtered_countries = power[power['country'].isin(['Estonia', 'Lithuania', 'Latvia'])]

print(filtered_countries.head())

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [ ]:
fc=filtered_countries[(filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) & (filtered_countries['year']<2010) & (filtered_countries['year']>2005)]

In [ ]:
print('Количество потребления для стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года равно {}КВт'.format(fc['quantity'].sum()))

Количество потребления для стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года равно 165867.0КВт

Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,84.70,-0.61,-0.72,NaN
1,Нефть WTI Цены на нефть WTI,78.21,-0.61,-0.77,NaN
2,Природный газ Цена на природный газ,2.52,-0.06,-2.25,NaN
3,Кофе,178.90,-3.40,-1.87,NaN
4,Кукуруза,678.00,-4.20,-0.62,NaN